# === System Files ===
.DS_Store
Thumbs.db
*.log
__pycache__/
*.pyc

# === Python Virtual Envs ===
.venv/
.env

# === VSCode ===
.vscode/

# === Dataset or Outputs ===
results/
*.wav
*.mp4
*.avi
*.csv
*.npy

# === Build & Distribution ===
*.zip
*.tar.gz
dist/
build/

