# === System Files ===
.DS_Store
Thumbs.db
*.log
__pycache__/
*.pyc

# === Python Virtual Envs ===
.venv/
.env

# === VSCode ===
.vscode/

# === Model Data ===
models/**/*
!models/face_emotion_model/
!models/face_emotion_model/model.pt
!models/voice_emotion_model/

# === Dataset or Outputs ===
results/
*.wav
*.mp4
*.avi
*.csv
*.npy

# === Large Files ===
*.pth

# === Build & Distribution ===
*.zip
*.tar.gz
dist/
build/

